<p id="error" style="display:none">
	Error!
</p>
<ul>
	<li class="odd" id="first-item">Item One</li>
	<li class="even">Item Two</li>
	<li class="odd">Item Three</li>
	<li class="even" id="item-four">Item Four</li>
</ul>
<button id="add-button">Add Item</button>
<button id="wrong">Don't click this</button>